  
.header
  .inner-wrap(style="height:99px")
    a(href="")
      .inner-logo
        img(src="https://res.cloudinary.com/dry3sdlc1/image/upload/v1752338295/bingebox_logo_1_ryqlu6.png", alt="bingebox_logo.png")
        p
          | 
          br
          | CINEMA
    .inner-menu
      ul
        li
          a(href="./showtime.html") Lịch chiếu
        li
          a(href="./promotion.html") Khuyến mãi
        li
          a(href="./new.html") Tin tức
        li
          a(href="./price.html") Giá vé
        li
          a(href="./blogCinematic.html") Blog phim
        li
          a(href="./magicBox.html") Magic box
        li
          a(href="./aboutUs.html") Về chúng tôi
    .inner-regist
      ul
        li
          button.button.button-dn
            a#login-link(href="") Đăng nhập
        li
          button.button.button-dk
            a#register-link(href="") Đăng ký
    .inner-icon
      i.fa-solid.fa-bars
