extends ../layouts/index.pug
//- include thanh phân trang
include ../mixins/pagination.pug 
//- block styles 
//-   link(rel='stylesheet', href='/assets/css/admin/permission.css')
include ../partials/sidebar
include ../partials/header

block content 
  .container.mt-5
    .card.shadow.p-4
      h2.mb-4(style="margin-top: 15px;")= data.title||"Danh Sách Thể Loại"
      .table-responsive
        table.table.table-bordered.table-hover.text-center.align-middle
          thead.table-light
            tr
              th Tên Thể Loại
              th Thao Tác
          tbody
            if data.categories && data.categories.length > 0
              for category in data.categories
                tr
                  td= category.category_name || ""
                  td
                    a(href=`update-category/${category._id}`, style="margin-right: 5px;").btn.btn-sm.btn-primary Sửa
                    a(href=`admin/category/delete-category/${category._id}`, class="delete").btn.btn-sm.btn-danger Xóa
              //  Thêm các dòng phim khác tại đây 
      //- Thanh phân trang
      +pagination(data)
block scripts
  script(type="module", src="/js/shared/pagination.js")
  script(type="module", src="/js/admin/script.js") 

