extends ../layouts/index.pug
block styles 
  link(rel='stylesheet', href='/assets/css/admin/create.css')
include ../partials/sidebar
include ../partials/header

block content
  .title
    h2= data.title||""

  .card
    .card-body
      form(class="create-category-form", data-mode=data.title, category_id=(data.category && data.category._id))
        .form-group
          label(for="category_name") Title
          input#category_name.form-control(type="text", name="category_name",value=(data.category ? data.category.category_name : ''), required)
        .form-group.text-end
          button.btn.btn-primary.create-category-btn(type="submit")= data.title||""
  script(type="module", src="/js/admin/create-category.js") 
  //  SweetAlert2 CDN 
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")