extends ../layouts/index.pug
block styles 
  link(rel='stylesheet', href='/assets/css/admin/create.css')
include ../partials/sidebar
include ../partials/header

block content
  .title
    h2=(data.title|| "Create Account")

  .card
    .card-body
      form(class="create-account-form", data-mode=(data.title || ""), account_id=(data.account && data.account._id))
        .form-group
          label(for="email") Email 
          input#email.form-control(type="text", name="email", value=(data.account ? data.account.email : ''), required)
        .form-group
          label(for="username") User Name(Tên không được cách)
          input#username.form-control(type="text", name="username", value=(data.account ? data.account.username : ''), required)
        .form-group 
          label(for="password") PassWord
          input#password.form-control(type="password", name="password")
        .form-group
          label(for="role") Role 
          select#role.form-control(name="role")
            option(value="") -- Select Role --
            if(data &&  Array.isArray(data.roles) && data.roles.length>0)
              for role in data.roles
                option(value=role._id, selected=(data.account && data.account.role_id._id.toString() === role._id.toString()))= role.role_name
        .form-group.text-end
          button.btn.btn-primary.create-account-btn(type="submit")=data.title||"Create Account"
  script(type="module", src="/js/admin/create-account.js") 
  //  SweetAlert2 CDN 
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")