extends ../layouts/index.pug
block styles 
  link(rel='stylesheet', href='/assets/css/admin/create.css')
include ../partials/sidebar
include ../partials/header

block content
  .title
    h2 Add New Movie

  .card
    .card-body
      form(class="create-movie-form", enctype="multipart/form-data")
        .form-group
          label(for="title") Title
          input#title.form-control(type="text", name="title", required)

        .form-group
          label(for="description") Description
          textarea#description.form-control(name="description", rows="4")

        .form-group
          label(for="genre") Genre
          select#genre.form-control(name="genre")
            option(value="") -- Select Genre --
            for category in categories
              option(value=category._id)= category.category_name
        .form-group
          label(for="actor") Actor
          select#actor.form-control(name="actors[]" multiple)
            option(value="") -- Select Status --
            if actors && actors.length
              for actor in actors
                option(value=actor._id)= actor.actor_name
        .form-group
          label(for="releaseDate") Release Date
          input#releaseDate.form-control(type="date", name="releaseDate")

        .form-group
          label(for="duration") Duration (minutes)
          input#duration.form-control(type="number", name="duration", min="1")
        .form-group
          label(for="age_permission") Age Permission 
          input#age_permission.form-control(type="number", name="age_permission", min="1",max="18")
        .form-group
          label(for="poster") Poster Image
          input#poster.form-control(type="file", name="poster", accept="image/*")
        .form-group 
          label(for="trailer") Trailer Video
          input#trailer.form-control(type="file", name="trailer", accept="video/*")
        .form-group.text-end
          button.btn.btn-primary.create-movie-btn(type="submit") Create Movie
  script(type="module", src="/js/admin/create-movie.js") 
  //  SweetAlert2 CDN 
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")