extends ../layouts/index.pug
block styles 
  link(rel='stylesheet', href='/assets/css/admin/permission.css')
include ../partials/sidebar
include ../partials/header

block content
  .content-container(data=(data && data.roles||{}))
    //  Permissions Content 
    .permissions-content
      .permissions-header
        h1 Phân quyền
        //- if(role.permissions.includes('role_permissions'))
          button.update-btn Cập nhật
        //- else 
        //-   span.update-btn(disabled) Cập nhật
      table(class="table-hover table",table-permissions)
        thead
          tr
            th Tính năng
            if data && data.roles.length
              each item in data.roles
                th(style="text-align:center")= item.role_name
        tbody
          tr(data-name="id",class="d-none")
            if data && data.roles.length
              each item in data.roles 
                td(class="text-center")
                  input(type="text",value=item._id)
          tr.permission-header
            td(colspan=(count ? count + 1 : 1)) Danh mục sản phẩm
          tr(data-name="category_view")
            td Xem
            if data && data.roles.length
              each item in data.roles
                td
                  input(type="checkbox")
          tr(data-name="category_create") 
            td Thêm mới
            if data && data.roles.length
              each item in data.roles
                td
                  input(type="checkbox")
          tr(data-name="category_edit")
            td Chỉnh sửa
            if data && data.roles.length
              each item in data.roles
                td
                  input(type="checkbox")
          tr(data-name="category_delete")
            td Xóa
            if data && data.roles.length
              each item in data.roles
                td
                  input(type="checkbox")
          tr.permission-header
            td(colspan=(count ? count + 1 : 1)) Sản phẩm
          tr(data-name="product_view")
            td Xem
            if data && data.roles.length
              each item in data.roles
                td
                  input(type="checkbox")
          tr(data-name="product_create") 
            td Thêm mới
            if data && data.roles.length
              each item in data.roles
                td
                  input(type="checkbox")
          tr(data-name="product_edit")
            td Chỉnh sửa
            if data && data.roles.length
              each item in data.roles
                td
                  input(type="checkbox")
          tr(data-name="product_delete")
            td Xóa
            if data && data.roles.length
              each item in data.roles
                td
                  input(type="checkbox")