extends ../layouts/index.pug
block styles 
  link(rel='stylesheet', href='/assets/css/admin/create.css')
include ../partials/sidebar
include ../partials/header

block content
  .title
    h2 Setting

  .card
    .card-body
      form(class="setting-form", enctype="multipart/form-data")
        .form-group
          label(for="website-name") Website Name
          input#website_name.form-control(type="text", name="website_name", required, value=(setting && setting.website_name) || "") 
        .form-group 
          label(for="email") Email
          input#email.form-control(name="email", value=(setting && setting.email) || "")       
        .form-group
          label(for="hotline") Hotline
          input#hotline.form-control(name="hotline", pattern="0[0-9]{9}", placeholder="Nhập số điện thoại", value=(setting && setting.hotline) || "")
        .form-group
          label(for="adress") Address 
          select#address.form-control(name="address",)
            option(value="") -- Select Address --
            for province in provinces
              option(value=province.name, selected=(setting && province.name === setting.address))= province.name
        .form-group
          label(for="map", value=(setting && setting.map) || "") Map 
          input#map.form-control(name="map")
        .form-group
          label(for="logo") Logo
          input#logo.form-control(type="file", name="logo", accept="image/*")
        img.preview(src=(setting && setting.logo) || "")
        .form-group.text-end
          button.btn.btn-primary.create-voucher-btn(type="submit") Update
  script(type="module", src="/js/admin/setting.js") 
  //  SweetAlert2 CDN 
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")